version: '3.9'
services:
  bff:
    build:
      context: ..
      dockerfile: deploy/dockerfiles/Bff.Dockerfile
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:8080
    ports:
      - "8080:8080"
  prometheus:
    image: prom/prometheus:v2.52.0
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
  grafana:
    image: grafana/grafana:10.4.0
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    volumes:
      - ./dashboards:/var/lib/grafana/dashboards
      - ./provisioning:/etc/grafana/provisioning
